/*!
 * Iguana auth/base
 *
 */

@import 'dev.scss';

$login-header-color-bg: #FE700D;
$login-content-color-bg: #363639;
$login-coin-selection-color: #FF4912;
$login-button-disabled-color: #B2B4B7;

.body-wrapper.auth-main {
  display: table;
  height: 100%;
  margin: 0 auto;
  width: 100%;

  .form-header .title {
    color: $color-white;
    font-size: 1.23em;
    position: relative;
    text-align: center;
    top: 18px;
    z-index: 10;
  }
}
.auth-main {
  .coin {
    display: inline-block;
    padding: 20px;
    width: 130px;

    input[type='checkbox'] + label {
      display: inline-block;
    }
  }
  .coin.block {
    display: block;
    padding: 0;
    width: 100%;
  }
  .container-fluid {
    display: table-cell;
    vertical-align: middle;
  }
  .box-shadow-all {
    box-shadow: 0 0 1px 1px rgba-black(0.15);
  }
  .box-shadow-bottom {
    box-shadow: 0 1px 1px 0 rgba-black(0.2);
  }
  .form-container {
    background-color: transparent;
    margin: 0 auto;
  }
  .login-or-delim {
    font-family: sans-serif;
    letter-spacing: 1px;
    padding: 20px 0;
  }
  .login-add-coin-selection {
    text-align: center;
    //margin-top: 6em;

    textarea {
      @include proxima;
      @include bold;
      border: solid 1px $color-medium-gray;
      border-radius: $border-radius-smaller;
      font-size: 1.16em;
      height: 120px;
      padding: 10px 12px;
      resize: none;
      width: 100%;
    }
  }
  .passphrase-container {
    @include proxima;
    @include bold;
    background: $color-white;
    border-radius: $border-radius-smaller;
    box-shadow: 0 2px 3px 1px rgba-black(0.1);
    font-size: 1.16em;
    padding: 36px 12px 15px;
    width: 100%;

    .title {
      font-family: sans-serif;
      font-size: 0.91em;
      font-weight: normal;
      margin-bottom: 4px;
    }
  }
  .bi_interface-cross {
    color: $color-white;
    font-size: 1.2em;
    left: 10px;
    position: relative;
    text-shadow: 1px 1px 3px rgba-black(0.3);
    top: 10px;
    z-index: 20;
  }
  .bi_interface-arrow-left {
    color: $color-white;
    font-size: 26px;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    text-shadow: 1px 1px 3px rgba-black(0.3);
    z-index: 100;
  }
  .error {
    border: solid 1px $color-red;
  }
  .center {
    font-size: 1.03em;
    text-align: center;
  }
  .offset-bottom-sm {
    margin: 15px auto;
    width: 264px;
  }
  .offset-bottom-md {
    margin: 30px auto 30px auto;
  }
  .create-account-form .login-input-directions,
  .verify-passphrase-form .login-input-directions {
    margin-bottom: 0;
    width: 80%;
    word-wrap: break-word;
    //margin-top: 10em;
  }
  .header {
    background-color: $login-header-color-bg;
    color: white;
    padding: 15px 10px;
    text-align: center;
  }
  .form-content {
    color: $login-content-color-bg;
    font-size: 1.05em;
    margin: 0 auto;
    padding: 20px 1.6em;

    .row {
      width: 100%;
    }
  }
  .form-header {
    height: 50px;

    .title {
      @include proxima;
      @include bold;
      color: $color-white;
      font-size: 1.15em;
      position: relative;
      text-align: center;
      top: -18px;
      z-index: 10;
    }
  }
  .btn {
    @include proxima;
    @include bold;
    color: $color-white;
    font-size: 1.20em;
    height: 40px;
    margin: 0 auto;
  }
  .text-shadow {
    text-shadow: 0 1px 3px rgba-black(0.25);
  }
  .btn:hover,
  .btn:focus {
    box-shadow: 0 0 2px 1px rgba-black(0.2);
    color: $color-white;
  }
  .btn.disabled:hover {
    box-shadow: none;
    text-shadow: none;
  }
  .checkbox {
    display: inline-block;
  }
  .label-text {
    cursor: hand;
    cursor: pointer;
    font-size: 1.05em;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox'] + label {
    display: block;
    font-weight: normal;
    text-align: center;

    .box {
      background: transparent;
      border: solid 2px $color-medium-gray;
      border-radius: $border-radius-smaller;
      display: inline-block;
      height: 20px;
      margin: -4px 17px 0 0;
      vertical-align: middle;
      width: 20px;
    }
  }
  input[type='checkbox']:checked + label .box {
    background: $color-orange;
    border-color: $color-orange;
  }
  input[type='checkbox']:checked + label .box:before {
    @include budicon;
    color: $color-white;
    content: '\eb23';
    font-weight: bold;
    position: relative;
    top: -1px;
  }
  .generated-passhprase-hidden {
    height: 1px;
    opacity: 0;
  }
  .paste-from-clipboard-link {
    border-bottom: dotted 1px $color-black;
    padding-top: 2px;
  }
  .login-add-coin-selection-title {
    background: $color-white;
    border-radius: $border-radius-smaller;
    box-shadow: 0 3px 10px 3px rgba-black(0.065);
    color: $login-coin-selection-color;
    font-size: 1.03em;
    @include bold;
    margin: 0 auto;
    max-width: 300px;
    padding: 7px 0;
    width: auto;

    .small {
      font-size: 0.9em;
    }
  }
}
.auth-main .btn.disabled,
.auth-main .btn.disabled:focus,
.modal .btn.disabled {
  background: $login-button-disabled-color;
  pointer-events: none;
  text-shadow: none;
}