$color-red: #FF0000;
$color-white: #FEFBF9;
$color-black: #000;
$color-orange: #FE450D;

$color-medium-gray: #C7CCD0;
$color-dark-gray: #858690;
$color-default-gray: #CCC;

$color-modal-bg: #F5F8FB;
$color-modal-bg-inner: #F4F7FB;

$color-add-coin-orange: #FE760D;
$color-add-coin-breeze: #1ABC9C;
$color-add-coin-yellow: #F7D441;
$color-add-coin-light-blue: #73C7EF;

$color-form-arrow: #C8CCD0;

$background-for-page: #aeb3b7;