/*!
 * Iguana modal
 *
 */

@import 'dev.scss';

.form-container.blur {
  @include blur;
}
.form-container {
  .form-header {
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 1px 0 rgba-black(0.2);
    color: $color-white;
    height: 60px;
    position: relative;
    width: 100%;

    .title {
      @include proxima;
      @include bold;
      color: $color-white;
      font-size: 1.23em;
      position: relative;
      text-align: center;
      z-index: 90;
    }
  }
  .bi_interface-cross {
    color: $color-white;
    font-size: 1.2em;
    left: 20px;
    margin-left: 12px;
    margin-top: 5px;
    position: absolute;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
    top: 16px;
    z-index: 100;
  }
  .bi_interface-cross:before {
    font-weight: 900;
  }
  .btn {
    @include proxima;
    @include bold;
    box-shadow: 0 0 2px 1px rgba-black(0.2);
    color: $color-white;
    font-size: 1.20em;
    height: 34px;
    margin: 0 auto;
    max-width: 300px;
  }
  .text-shadow {
    text-shadow: 0 1px 3px rgba-black(0.25);
  }
  .btn:hover,
  .btn:focus {
    box-shadow: 0 0 2px 1px rgba-black(0.2);
    color: $color-white;
  }
}
.modal,
.add-coin-create-wallet-form .create-account-form,
.add-coin-create-wallet-form .verify-passphrase-form {
  background-color: $color-modal-bg-inner;
}
.form-container.mdl.fade {
  opacity: 0;
  transition: all $transition-length;
}
.modal-full-width {
  min-width: 100%;
}
.modal {
  background: rgba(251, 252, 253,0.7);
  padding: 0 !important;
  text-align: center;

  .modal-header {
    color: $color-white;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 0;
    padding-top: 8px;
  }
  .modal-content {
    background: $color-modal-bg;
  }
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  vertical-align: middle;
  z-index: -1;
}
.modal-dialog {
  display: inline-block;
  margin: auto;
  text-align: left;
  vertical-align: middle;

  .modal-body{
    padding: 15px 1em 3.2em 1em;
  }
}