<section class="form-container mdl send-coin-form unselectable hidden fade">
  <div class="modal modal-send-coin" ng-include="'partials/send-coin-entry.html'" ng-hide="!sendCoin.initStep"></div>
  <div class="modal modal-send-coin" ng-include="'partials/send-coin-confirmation.html'" ng-hide="sendCoin.initStep"></div>
</section>
<div class="message-modal" ng-include="'partials/message-modal.html'"></div>
<div ng-include="'partials/send-coin-passphrase.html'"></div>
<div ng-include="'partials/receive-coin.html'"></div>
<div ng-include="'partials/add-coin-login.html'"></div>
<div ng-include="'partials/add-coin-create-wallet.html'"></div>