<script type="text/ng-template" id="partials/dashboard.html">
  <div class="container-fluid dashboard-main" ng-class="{ 'dashboard-main': $state.current.name === 'dashboard.main', 'reference-currency-main': $state.current.name === 'dashboard.settings' }">
    <div class="row">
      <section class="dashboard main">
        <div ui-view="top" class="unselectable"></div>
        <div ui-view="content"></div>
      </section>
    </div>
  </div>
  <div class="add-coin-login-container"></div>
  <div class="auth-add-coin-modal-container"></div>
  <div class="receive-coin-modal-container"></div>
  <div class="send-coin-modal-container"></div>
  <div class="send-coin-passphrase-modal-container"></div>
</script>