<script type="text/ng-template" id="partials/dashboard-main.html">
  <div class="main-content container-fluid" ng-hide="!enabled">
    <!-- temp out of sync notice -->
    <div id="temp-out-of-sync" class="hidden" style="color:red;text-aling:center;font-weight:bold;font-size:1.2em"></div>
    <div class="balance-block unselectable">
      <div class="label">{{ 'DASHBOARD.TOTAL_BALANCE' | lang }}</div>
      <div class="balance">
        <span class="value">{{ totalBalance > 0 ? (totalBalance | decimalPlacesFormat:'currency') : 0 }}</span>
        <span class="currency">{{ currency }}</span>
      </div>
    </div>
    <div class="clearfix"></div>
    <aside class="coins unselectable col-md-3 col-sm-3 col-xs-12">
      <div class="row">
        <div class="account-coins-repeater">
          <div class="item {{ item.id }}" data-coin-id="{{ item.coinId }}" data-coin-balance-value="{{ item.coinBalanceUnformatted }}" ng-class="{ 'active': activeCoin === item.id || activeCoin === $index }" ng-repeat="item in sideBarCoins | orderBy: 'id'">
            <spinner visibility="item.loading"></spinner>
            <div class="remove-coin cursor-pointer" ng-click="removeCoin(item.id)" ng-class="{ 'hidden': sideBarCoins.length === 1 || disableRemoveCoin }"></div>
            <div class="clickable-area" ng-click="activeCoin !== item.id ? setActiveCoin(item) : null">
              <div class="coin">
                <i class="icon cc {{ item.coinIdUc }}-alt"></i>
                <div class="name">{{ item.name }}</div>
              </div>
              <div class="balance" ng-class="{ 'invisible': item.loading }">
                <div class="coin-value"><span class="val">{{ item.coinValue > 0 ? (item.coinValue | decimalPlacesFormat:'coin') : 0 }}</span> {{ item.coinIdUc }}</div>
                <div class="currency-value"><span class="val">{{ item.currencyValue > 0 ? (item.currencyValue | decimalPlacesFormat:'currency') : 0 }}</span> {{ item.currencyName }}</div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-add-coin" ng-click="isIguana ? openAddCoinModal() : openAddCoinLoginModal()" ng-class="{ 'disabled': !addCoinButtonState }">{{ ( isIguana ? 'DASHBOARD.ADD_COIN' : 'LOGIN.ADD_WALLET' ) | lang }}</button>
      </div>
    </aside>
    <div class="transactions-unit col-md-8 col-sm-7 col-xs-12 pull-right">
      <div class="row">
        <div class="top-bar unselectable">
          <spinner visibility="txUnit.loading"></spinner>
          <div class="active-coin-balance" ng-class="{ 'invisible': txUnit.loading }">
            <span class="value">{{ txUnit.activeCoinBalance > 0 ? (txUnit.activeCoinBalance | decimalPlacesFormat:'coin') : 0 }}</span>
            <span class="coin-name">{{ activeCoin.toUpperCase() }}</span>
          </div>
          <div class="active-coin-balance-currency" ng-class="{ 'invisible': txUnit.loading }">
            <span class="value">{{ txUnit.activeCoinBalanceCurrency > 0 ? (txUnit.activeCoinBalanceCurrency | decimalPlacesFormat:'currency') : 0 }}</span>
            <span class="currency">{{ currency }}</span>
          </div>
          <div class="action-buttons unselectable">
            <button class="btn btn-send" ng-click="openSendCoinModal()" ng-class="{ 'disabled': sideBarCoinsUnsorted[activeCoin].coinValue === 0 }">{{ 'DASHBOARD.SEND' | lang }}</button>
            <button class="btn btn-receive coinaddress btn-lg" ng-click="openReceiveCoinModal()">{{ 'DASHBOARD.RECEIVE' | lang }}</button>
          </div>
          <div class="info unselectable">
            <i class="bi_doc-book-a"></i>
            <span>{{ 'DASHBOARD.INFORMATION' | lang }}</span>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="transactions-list">
          <div class="title unselectable">{{ 'DASHBOARD.HISTORY' | lang }}</div>
          <div class="transactions-list-repeater">
            <spinner visibility="txUnit.loading"></spinner>
            <div class="no-results" ng-if="txUnit.transactions.length === 0 && !txUnit.loading">{{ 'DASHBOARD.NO_TRANSACTION_HISTORY_IS_AVAILABLE' | lang }}</div>
            <div class="item {{ item.statusClass }} {{ item.timestampFormat }} {{ item.txId }}" title="confirmations: {{ item.confs }}" ng-repeat="item in txUnit.transactions | orderBy: '-timestampUnchanged'">
              <div class="status unselectable">{{ item.status }}</div>
              <div class="amount unselectable" ng-class="{ 'smaller': item.switchStyle }">
                <span class="in-out {{ item.inOut }}"></span>
                <span class="value">{{ item.amount }}</span>
                <span class="coin-name">{{ item.coin }}</span>
              </div>
              <div class="progress-status unselectable">
                <i class="icon"></i>
              </div>
              <div class="hash">{{ item.hash }}</div>
              <div class="timestamp unselectable">{{ item.timestampSingle }}</div>
              <div class="timestamp two-lines unselectable time-ago"
                ng-init="item.txId ? timeAgo('.' + item.txId + ' .time-ago') : null">
                <div class="timestamp-date time-ago-date">{{ item.timestampDate }}</div>
                <div class="timestamp-time time-ago-time">{{ item.timestampTime }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</script>