<script type="text/ng-template" id="partials/login.html">
  <section ng-class="{ 'hidden': !($state.current.name === 'login') }" >
    <div class="body-wrapper auth-main">
      <div class="container-fluid">
        <div class="row centered">
          <nav class="navbar top unselectable mobile-hidden">
            <div class="clearfix">
              <div class="navbar-header">
                <div class="navbar-brand col-white">
                  {{ 'IGUANA.APP_TITLE' | lang }}
                </div>
              </div>
            </div>
          </nav>
          <section class="form-container login-form">
            <div class="form-content">
              <header class="page-form-header">
                <div class="page-title text-shadow">{{ 'LOGIN.WELCOME' | lang }}</div>
              </header>
              <div class="form-content-inner">
                <div class="login-input-directions center offset-bottom-sm unselectable">
                  <span class="advanced-benefits">{{ 'LOGIN.PROVIDING_ADVANCED_BENEFITS' | lang }}</span>
                </div>
                <div class="login-buttons-container">
                  <button class="btn btn-block orange-gradient box-shadow-all text-shadow row btn-signin"
                          ng-click="openLoginCoinModal()">
                    {{ 'LOGIN.LOGIN' | lang }}</button>
                  <div class="login-or-delim center unselectable">{{ 'LOGIN.OR' | lang }}</div>
                  <button class="btn btn-block orange-gradient box-shadow-all text-shadow row btn-signup"
                          ng-click="openSignupCoinModal()">{{ 'LOGIN.CREATE_ACCOUNT' | lang }}</button>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section ng-class="{ 'hidden': !($state.current.name === 'login.step2') }">
    <div class="body-wrapper auth-main">
      <div class="container-fluid">
        <div class="row centered">
          <div class="form-container">
            <header class="form-header orange-gradient box-shadow-bottom">
              <i class="bi_interface-arrow-left text-shadow cursor-pointer btn-back" ng-click="$state.go('login')"></i>
              <div class="title text-shadow">{{ 'LOGIN.LOGIN_TO_WALLET'  | lang }} <span>{{ title() }}</span> {{ 'LOGIN.WALLET'  | lang }}</div>
            </header>
            <div class="form-content">
              <div class="form-content-inner">
                <div class="middle-sheet">
                  <div class="login-input-directions center unselectable"
                       ng-class="{'hidden': errPassphrase.length }">
                    {{ 'LOGIN.TYPE_OR_PASTE_THE_PASSPHRASE' | lang }}
                  </div>
                  <div class="center txt-massage"
                       ng-class="{'hidden': !errPassphrase.length || !passphraseModel }">
                    <span>{{ errPassphrase | lang }}</span>
                  </div>
                  <div class="login-input-directions center  unselectable">
                  <textarea name="loginPassphrase" id="passphrase"
                            class="login-passphrase-textarea row center"
                            ng-model="passphraseModel"
                            ng-class="{'error-msg': errPassphrase.length }"
                            ng-change="clearMessage()">
                  </textarea>

                  </div>
                  <button class="btn btn-block orange-gradient box-shadow-all text-shadow btn-signin-account"
                          ng-click="login()" ng-disabled="!passphraseModel.length || errPassphrase.length || isCoinSelected()">
                    {{ 'LOGIN.LOGIN' | lang }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="auth-add-coin-modal"></div>
</script>