<script type="text/ng-template" id="partials/login.html">
  <div class="body-wrapper auth-main">
    <div class="container-fluid">
      <div class="row centered">
        <section class="form-container login-form">
          <header class="form-header">
            <i class="bi_interface-cross cursor-pointer hidden"></i>
            <div class="title text-shadow">
              {{ 'LOGIN.WELCOME' | lang }}
            </div>
          </header>
          <div class="form-content">
            <div class="login-add-coin-selection">
              <div class="login-add-coin-selection-title cursor-pointer"
                   ng-click="openAddCoinModal()">
                <span ng-if="isDisabled()">
                  {{ ( util.isIguana ? 'LOGIN.SELECT_A_COIN' : 'LOGIN.SELECT_A_WALLET' ) | lang }}
                </span>
                <div ng-repeat="(name, item) in getActiveCoins()" ng-if="!isDisabled()">
                  <div>{{ item.name }}</div>
                  <div class="small">{{ item.id }}</div>
                </div>
              </div>
            </div>
            <div class="login-input-directions center offset-bottom-sm unselectable">
              {{ 'LOGIN.ENTER_A_PASSPHRASE_TO_LOGIN' | lang }}
            </div>
            <textarea name="loginPassphrase" id="passphrase"
                      class="login-passphrase-textarea offset-bottom-sm row center"
                      ng-model="passphraseModel"></textarea>
            <button class="btn btn-block orange-gradient box-shadow-all text-shadow row btn-signin"
                    ng-click="login()" ng-disabled="!passphraseModel.length || isDisabled()">
              {{ 'LOGIN.LOGIN' | lang }}</button>
            <div class="login-or-delim center unselectable">{{ 'LOGIN.OR' | lang }}</div>
            <button class="btn btn-block orange-gradient box-shadow-all text-shadow row btn-signup"
                    ng-click="$state.go('signup.step1')">{{ 'LOGIN.CREATE_ACCOUNT' | lang }}</button>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="auth-add-coin-modal"></div>
  <div class="message-modal" ng-include="'partials/message-modal.html'"></div>
</script>