<script type="text/ng-template" id="partials/message-modal.html">
  <div class="modal-header msgbox-header unselectable">
    <div class="msg-body" data-dismiss="modal">
      <span ng-if="messageType === 'noDaemon'">
        {{ 'MESSAGE.NO_REQUIRED_DAEMON_P1' | lang }} <a ng-click="requirementsInfo()" class="cursor-pointer">{{ 'MESSAGE.NO_REQUIRED_DAEMON_P2' | lang }}</a>
        {{ 'MESSAGE.NO_REQUIRED_DAEMON_P3' | lang }}
        <span ng-if="$state.current.name === 'dashboard.main' || $state.current.name === 'dashboard.settings'">
          <br/><br/>
          <a ng-click="logout()" class="cursor-pointer">{{ 'DASHBOARD.LOGOUT' | lang }}</a>
        </span>
      </span>
      <span ng-bind-html="messageContent"></span>
    </div>
  </div>
</script>