<script type="text/ng-template" id="partials/receive-coin.html">
  <section id="myModal" class="modal-content receiving-coin-content">
    <span class="form-container ">
      <header class="modal-header form-header orange-gradient box-shadow-bottom">
        <i class="bi_interface-cross cursor-pointer btn-close pull-left text-shadow" ng-click="close()"></i>
        <div class="text-center title text-shadow">{{ 'RECEIVE.RECEIVING_COINS' | lang }}</div>
      </header>
    </span>
    <div class="form-content modal-body">
      <div class="share-address-section">
        <!--div>
          <span class="text-section text-something">Something 2</span>
        </div-->
        <div class="my-label my-address">{{ 'RECEIVE.MY_ADDRESS' | lang }}:</div>
        <h4 id="address">{{ receiveCoin.addressFormatted }}</h4>
        <input type="text" id="addressHidden" ng-model="receiveCoin.address" class="invisible" />
        <div class="buttons text-center">
          <button class="btn copy-btn margin-bottom pull-left" ng-click="copyAddressToClipboard()">{{ 'RECEIVE.COPY' | lang }}</button>
          <a class="btn btn-share-email share-btn margin-bottom pull-right" href="{{ receiveCoin.shareUrl }}">{{ 'RECEIVE.SHARE' | lang }}</a>
        </div>
        <div class="qr-code" id="qrcode">
          <img ng-src="{{ receiveCoin.qrCode }}" />
        </div>
        <div class="col-xs-12">
          <div class="amount-label row">
            <span class="block amount-label-span">{{ 'RECEIVE.AMOUNT' | lang }}:</span>
            <span class="block text-section enter-in-currency">{{ 'RECEIVE.ENTER_IN' | lang }} {{ currency }}<!-- any currency --></span>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="row">
            <div class="input">
              <div class="currency-input inner-addon right-addon">
                <input type="text" min="0" class="crypto-currency currency-coin" placeholder="0" ng-model="receiveCoin.coinAmount" number-only ng-keyup="coinAmountKeying()" />
                <span class="unit coin-unit glyphicon">{{ receiveCoin.coinName }}</span>
              </div>
            </div>
            <div class="currency-input input-addon">
              <span class="equals-sign">=</span>
            </div>
            <div class="input">
              <div class="currency-input inner-addon right-addon">
                <input type="text" min="0" class="crypto-currency currency" placeholder="0" ng-model="receiveCoin.currencyAmount" number-only ng-keyup="currencyAmountKeying()" />
                <span class="unit unit-currency glyphicon">{{ receiveCoin.currencyName }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
</script>