<script type="text/ng-template" id="partials/send-coin-confirmation.html">
  <!--div class="send-coin-progress-overlay hidden">
    <div class="send-coin-status">Sending...</div>
    <button class="btn btn-block orange-gradient box-shadow-all text-shadow row btn-next">
      <div class="progress-indicator">
        <svg class="bag" height="24" width="24">
          <circle cx="12" cy="12" r="10" stroke="transparent" stroke-width="2" fill="none"></circle>
        </svg>
        <svg class="over" height="24" width="24">
          <circle cx="12" cy="12" r="10" stroke="#FFF" stroke-width="2" fill="none">
            <animate attributeType="CSS" attributeName="stroke-dasharray" from="1,254" to="62,56" dur="5s" repeatCount="indefinite" />
          </circle>
        </svg>
      </div>
    </button>
  </div-->
  <div class="send-coin-success-overlay" ng-class="{ 'hidden': !sendCoin.success }">
    <div class="send-coin-status">{{ 'SEND.TRANSACTION_IS_SENT' | lang }}.<br/>{{ 'SEND.CHECK_THE_STATUS' | lang }}.</div>
    <button class="btn btn-block orange-gradient box-shadow-all text-shadow row btn-confirmed" ng-click="close()">
      <i class="bi_interface-tick cursor-pointer"></i>
    </button>
  </div>
  <header class="modal-header form-header orange-gradient box-shadow-bottom">
    <i class="bi_interface-arrow-left cursor-pointer btn-back" ng-click="sendCoin.initStep = true"></i>
    <div class="title text-shadow">{{ 'SEND.CONFIRMATION' | lang }}</div>
  </header>
  <div class="form-content send-modal">
    <div class="modal-body">
      <div class="main-popup">
        <div class="popup-head">
          <div class="headd orange-gradient">
            <div class="row">
              <div class="col-sm-6 hd-left col-xs-6 coin">
                <i class="icon cc {{ sendCoin.coinId }}-alt"></i>
                <span class="name">{{ sendCoin.coinName }}</span>
              </div>
              <div class="col-sm-6 hd-right col-xs-6 balance">
                <span class="balance-coin">
                  <span class="value">{{ sendCoin.coinValue | decimalPlacesFormat:'coin' }}</span> <span class="name">{{ sendCoin.coinId }}</span>
                </span>
                <p class="rs balance-currency">
                  <span class="value">{{ sendCoin.currencyValue | decimalPlacesFormat:'currency' }}</span> <span class="name">{{ sendCoin.currency }}</span>
                </p>
              </div>
            </div>
          </div>
          <div class="pop-form">
            <div class="pop-detail send check">
              <h4>{{ 'SEND.SEND_TO' | lang }}:</h4>
              <p>{{ sendCoin.address }}</p>
            </div>
            <div class="pop-detail crncy chk-crncy crncy-rs">
              <h4>{{ 'RECEIVE.AMOUNT' | lang }}:</h4>
                <h3>{{ sendCoin.amount | decimalPlacesFormat:'coin' }} {{ sendCoin.coinId }}</h3>
                <h5>or {{ sendCoin.amountCurrency | decimalPlacesFormat:'currency' }} {{ sendCoin.currency }}</h5>
              </div>
              <div class="pop-detail crncy chk-crncy crncy-fee">
                <h4>{{ 'SEND.FEE_PER_KB' | lang }}:</h4>
                <h3>{{ sendCoin.fee | decimalPlacesFormat:'coin' }} {{ sendCoin.coinId }}</h3>
                <h5>{{ 'LOGIN.OR' | lang }} {{ sendCoin.feeCurrency | decimalPlacesFormat:'currency' }} {{ currency }}</h5>
              </div>
              <div class="pop-detail pay-dtl">
                <h4>{{ 'SEND.FEE_PER_KB' | lang }}: </h4>
                <p>{{ sendCoin.note }}</p>
              </div>
              <h4>{{ 'SEND.THE_FINAL_AMOUNT' | lang }}.</h4>
              <button class="btn-confirm-tx orange-gradient" ng-click="sendCoinFormConfirm()">{{ 'SEND.SEND' | lang }} {{ sendCoin.amount | decimalPlacesFormat:'coin' }} {{ sendCoin.coinId }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>