<script type="text/ng-template" id="partials/signup.html">
  <div class="body-wrapper auth-main">
    <div class="container-fluid">
      <div class="row centered">
        <!-- // create account form start -->
        <section class="form-container create-account-form" ng-class="{ 'hidden': !($state.current.name === 'signup.step1' ||  $state.current.name === 'signup') }" >
          <header class="form-header orange-gradient box-shadow-bottom">
            <i class="bi_interface-arrow-left text-shadow cursor-pointer btn-back" ng-click="$state.go('login')"></i>
            <div class="title text-shadow">{{ 'CREATE_ACCOUNT.ADD_ACCOUNT' | lang }}</div>
          </header>
          <div class="form-content">
            <div class="login-add-coin-selection">
              <div ng-click="selectWallet()"
                class="login-add-coin-selection-title offset-bottom-sm cursor-pointer">
                <span ng-if="isDisabled()">
                  {{ ( util.isIguana ? 'LOGIN.SELECT_A_COIN' : 'LOGIN.SELECT_A_WALLET' ) | lang }}
                </span>
                <div ng-repeat="(name, item) in getActiveCoins()"
                     ng-if="!isDisabled()">
                  <div>{{ item.name }}</div>
                  <div class="small">{{ item.id }}</div>
                </div>
              </div>
            </div>
            <div class="login-input-directions center offset-bottom-md unselectable passphrase-word-count">{{ 'CREATE_ACCOUNT.WRITE_DOWN_THIS_P1' | lang }} {{ passphraseCount }}{{ 'CREATE_ACCOUNT.WRITE_DOWN_THIS_P2' | lang }} <strong>{{ 'CREATE_ACCOUNT.WRITE_DOWN_THIS_P3' | lang }}</strong></div>
            <div class="passphrase-container row center offset-bottom-md">
              <div class="title unselectable">{{ 'CREATE_ACCOUNT.COPY_PASSPHRASE' | lang }}: {{ generatedPassphrase }}</div>
              <div class="generated-passhprase cursor-pointer" ng-click="copyPassphraseWord($event)">{{ passphrase }}</div>
            </div>
            <input type="checkbox"
                   id="passphrase-saved-checkbox"
                   name="passphraseSaved"
                   ng-model="passphraseCheckbox"
                   class="checkbox" />
            <label for="passphrase-saved-checkbox" class="checkbox-label cursor-pointer">
              <span class="box"></span><span class="label-text unselectable">{{ 'CREATE_ACCOUNT.I_SAVED_A_PASSPHRASE' | lang }}</span>
            </label>
            <div class="non-iguana-coins-repeater hidden"></div>
            <div class="non-iguana-coins-repeater-errors"></div>
            <div class="login-or-delim center"></div>
            <button class="btn btn-block orange-gradient box-shadow-all text-shadow row btn-verify-passphrase"
                    ng-disabled="!passphraseCheckbox || isDisabled()"
                    ng-click="$state.go('signup.step2')">{{ 'CREATE_ACCOUNT.NEXT' | lang }}</button>
          </div>
        </section>
        <!-- // create account form end -->
        <!-- // verify passphrase form start -->
        <section class="form-container verify-passphrase-form" ng-class="{ 'hidden': !($state.current.name === 'signup.step2') }" >
          <header class="form-header orange-gradient box-shadow-bottom">
            <i class="bi_interface-arrow-left text-shadow cursor-pointer btn-back" ng-click="$state.go('signup.step1')"></i>
            <div class="title text-shadow">{{ 'CREATE_ACCOUNT.ADD_ACCOUNT' | lang }}</div>
          </header>
          <div class="form-content" ng-click="pastPassphraseWord()">
            <div class="login-input-directions-error center offset-bottom-sm col-red hidden unselectable passphrase-word-count">{{ 'LOGIN.INCORRECT_INPUT_P1' | lang }} 24 {{ 'LOGIN.INCORRECT_INPUT_P2' | lang }}</div>
            <div class="login-input-directions center offset-bottom-sm unselectable">
              {{ 'CREATE_ACCOUNT.TYPE_OR_PASTE_THE_PASSPHRASE_P1' | lang }}
              <span class="paste-from-clipboard-link cursor-pointer" ng-click="pastPassphraseWord()">
                {{ 'CREATE_ACCOUNT.TYPE_OR_PASTE_THE_PASSPHRASE_P2' | lang }}
              </span>
            </div>
            <textarea
              name="verifyPassphrase"
              id="passphrase"
              class="login-passphrase-textarea offset-bottom-sm row center"
              ng-model="passPhraseText" ng-change="verifyPass()"></textarea>
            <div class="non-iguana-walletpassphrase-errors"></div>
            <div class="login-or-delim center unselectable"></div>
            <button ng-disabled="!buttonCreateAccount"
                    class="btn btn-block orange-gradient box-shadow-all text-shadow row btn-add-account" ng-click="addAccount()">
              <!--ng-click="$state.go('signup.passphrase')"-->
              {{ 'CREATE_ACCOUNT.ADD_ACCOUNT' | lang }}
            </button>
          </div>
        </section>
        <!-- // verify passphrase form end -->
        <div class="coin-select-modal"></div>
      </div>
    </div>
  </div>
</script>