/*!
 * Iguana dashboard/add-coin-modal
 *
 */

@import '../dev.scss';

$coin-repeater-coin-name-color: #878892;

body .add-coin-login-form .modal-add-coin-login-form,
.modal-add-coin-wallet-create-form {
  background: none;
  display: block;
  max-width: none;
}
.add-coin-create-wallet-form {
  .login-add-coin-selection {
    @include unclickable;
  }
  .create-account-form,
  .verify-passphrase-form {
    height: 100%;
  }
}
.modal-add-coin {
  display: block;
}
.login-form-modal .modal {
  overflow: hidden;
}
.form-container.mdl.add-new-coin-form .form-content .btn-next {
  margin: 20px auto;
}
.add-new-coin-form-login-state {
  .form-header {
    .bi_interface-cross {
      margin-top: 3px;
    }
    .title {
      padding-top: 10px;
    }
  }
  .btn {
    margin-top: 25px;
  }
}
.add-new-coin-form {
  z-index: 5000;

  .supported-coins-repeater-inner {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 30px;
    position: relative;
  }
  .modal .modal-content .form-content {
    .supported-coins-repeater-container {
      position: relative;
    }
    @mixin supported-coins-repeater-selector($vpos, $height, $gradient-type) {
      /* csslint ignore:start */
      content: '';
      background: linear-gradient(to #{gradient-type}top, rgb(245, 248, 251) 20%, rgba(255, 255, 255, 0) 80%);
      height: #{$height};
      left: 0;
      pointer-events: none;
      position: absolute;
      #{$vpos}: -1px;
      width: 100%;
      z-index: 1;
      /* csslint ignore:end */
    }
    .supported-coins-repeater-container:after {
      @include supported-coins-repeater-selector(bottom, 20%, top);
    }
    .supported-coins-repeater-container:before {
      @include supported-coins-repeater-selector(top, 10%, bottom);
    }
  }
}
.coin-select-modal,
.auth-add-coin-modal,
.auth-add-coin-modal-container {
  .coins-title {
    font-size: 1.1em;
    padding-top: 2em;
    text-align: center;
  }
  .quick-search {
    padding-bottom: 20px;
    padding-top: 34px;
    text-align: center;

    .input.text {
      border: none;
      border-radius: $border-radius-smaller;
      height: 34px;
      padding-left: 40px;
      width: 300px;
    }
    i.icon {
      color: $color-medium-gray;
      font-size: 1.2em;
      margin-left: 7px;
      margin-top: 6px;
      position: absolute;
    }
  }
  @mixin quick-search-placeholder {
    font-size: 1.1em;
    padding-top: 1px;
  }
  .quick-search .input.text::-webkit-input-placeholder {
    @include quick-search-placeholder;
  }
  .quick-search .input.text:-moz-placeholder { /* Firefox 18- */
    @include quick-search-placeholder;
  }
  .quick-search .input.text::-moz-placeholder {  /* Firefox 19+ */
    @include quick-search-placeholder;
  }
  .quick-search .input.text:-ms-input-placeholder {
    @include quick-search-placeholder;
  }
  .supported-coins-repeater {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    text-align: center;

    .coin {
      background: $color-white;
      border: 2px solid transparent;
      border-radius: $border-radius-small;
      box-shadow: 0 2px 3px 2px rgba-black(0.07);
      @include cursor-pointer;
      display: inline-block;
      height: 9em;
      margin: 8px;
      opacity: 1;
      padding-top: 35px;
      text-align: center;
      transition: opacity $transition-length;
      width: 11.5em;

      .icon {
        border-radius: 50%;
        color: $color-white;
        font-size: 2em;
        padding: 11px;
      }
      .name {
        color: $coin-repeater-coin-name-color;
        font-size: 1.05em;
        padding-top: 16px;
      }
    }
    .coin.fade {
      opacity: 0 !important; /* override opacity set in js */
      transition: opacity $transition-length;
    }
    .coin.active {
      border: 2px solid rgb(255, 109, 54);
    }
  }
  .supported-coins-repeater.override-opacity .coin {
    opacity: 1 !important; /* override opacity set in js */
  }
  .col-orange {
    background-color: $color-add-coin-orange !important;
  }
  .col-breeze {
    background-color: $color-add-coin-breeze !important;
  }
  .col-yellow {
    background-color: $color-add-coin-yellow !important;
  }
  .col-light-blue {
    background-color: $color-add-coin-light-blue !important;
  }
}