/*!
 * Iguana dashboard/add-coin-modal
 *
 */

@import '../dev.scss';

$coin-repeater-coin-name-color: #2c2d2f;

body .add-coin-login-form .modal-add-coin-login-form,
.modal-add-coin-wallet-create-form {
  background: none;
  display: block;
  max-width: none;
}
.add-coin-create-wallet-form {
  .login-add-coin-selection {
    @include unclickable;
  }
  .create-account-form,
  .verify-passphrase-form {
    height: 100%;
  }
}
.modal-add-coin {
  display: block;
}
.login-form-modal .modal {
  overflow: hidden;
}
.form-container.mdl.add-new-coin-form .form-content .btn-next {
  margin: 20px auto;
}
.add-new-coin-form-login-state {
  .form-header {
    .bi_interface-cross {
      margin-top: 3px;
    }
    .title {
      padding-top: 0.55em;
    }
  }
  .btn {
    margin-top: 25px;
  }
  .supported-coins-repeater-container {
    margin-top: 2.62em;
    position: relative;
  }
}
.add-new-coin-form {
  z-index: 5000;

  .supported-coins-repeater-inner {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 30px;
    position: relative;
  }
  .modal .modal-content .form-content {
    .supported-coins-repeater-container {
      position: relative;
    }
    @mixin supported-coins-repeater-selector($vpos, $height, $gradient-type) {
      /* csslint ignore:start */
      content: '';
      background: linear-gradient(to #{gradient-type}top, #F5F8FB 20%, rgba(255, 255, 255, 0) 80%);
      height: #{$height};
      left: 0;
      pointer-events: none;
      position: absolute;
      #{$vpos}: -1px;
      width: 100%;
      z-index: 1;
      /* csslint ignore:end */
    }
    .supported-coins-repeater-container:after {
      @include supported-coins-repeater-selector(bottom, 20%, top);
    }
    .supported-coins-repeater-container:before {
      @include supported-coins-repeater-selector(top, 10%, bottom);
    }
  }
}
.coin-select-modal,
.auth-add-coin-modal,
.auth-add-coin-modal-container {
  .coins-title {
    font-size: 1.14em;
    text-align: center;
  }
  .quick-search {
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 2em;
    text-align: center;

    .input.text {
      border: none;
      border-radius: $border-radius-smaller;
      height: 34px;
      padding-left: 2.4em;
      width: 300px;
    }
    i.icon {
      color: $color-medium-gray;
      font-size: 1.1em;
      margin-left: 0.44em;
      margin-top: 0.4em;
      position: absolute;
    }
  }
  @mixin quick-search-placeholder {
    color: $color-form-arrow;
    font-size: 1.07em;
    padding-top: 1px;
  }
  .quick-search .input.text::-webkit-input-placeholder {
    @include quick-search-placeholder;
  }
  .quick-search .input.text:-moz-placeholder { /* Firefox 18- */
    @include quick-search-placeholder;
  }
  .quick-search .input.text::-moz-placeholder {  /* Firefox 19+ */
    @include quick-search-placeholder;
  }
  .quick-search .input.text:-ms-input-placeholder {
    @include quick-search-placeholder;
  }
  .supported-coins-repeater {
    margin: 0 auto;
    max-height: 400px;
    max-width: 1020px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    text-align: center;

    .coin {
      background: $color-white;
      border: 2px solid transparent;
      border-radius: $border-radius-smaller;
      box-shadow: 0 3px 2px 1px rgba-black(0.1);
      @include cursor-pointer;
      display: inline-block;
      margin: 0.6em 0.72em;
      opacity: 1;
      padding: 0.9em 1.9em;
      text-align: center;
      transition: opacity $transition-length;
      width: 12.86em;

      .icon {
        background-color: $color-white;
        border-radius: 50%;
        font-size: 2.2em;
        margin-top: 12px;
        padding: 2px;
        width: 30%;
      }
      .name {
        color: $coin-repeater-coin-name-color;
        font-size: 1.05em;
        padding: 1em 0.56em 10px 0.56em;
        width: 70%;

        .help-block {
          font-size: 16px;
          margin: 0;
        }
        .help-block:first-child {
          @include bold;
          line-height: 1.1;
        }
        .help-block:last-child {
          color: #92939C;
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
    .coin.fade {
      opacity: 0 !important; /* override opacity set in js */
      transition: opacity $transition-length;
    }
    .coin.active {
      border: 2px solid #FF6D36;
      .name {
        .help-block {
          color: #FF6D36;
          font-weight: 700;
        }
      }
    }
  }
  .supported-coins-repeater.override-opacity .coin {
    opacity: 1 !important; /* override opacity set in js */
  }
  .col-orange {
    color: $color-add-coin-orange !important;
  }
  .col-breeze {
    color: $color-add-coin-breeze !important;
  }
  .col-yellow {
    color: $color-add-coin-yellow !important;
  }
  .col-light-blue {
    color: $color-add-coin-light-blue !important;
  }
}