/*!
 * Iguana dashboard/left-sidebar
 *
 */

@import '../dev.scss';

$account-coins-repeater-coin-color: #D3D3D4;

.account-coins-repeater {
  .item {
    @include bold;
    @include cursor-pointer;
    background: $color-white;
    border-radius: $border-radius-smaller;
    box-shadow: 0 2px 2px 1px rgba-black(0.125);
    height: 85px;
    margin-bottom: 20px;
    position: relative;

    .clickable-area {
      height: 100%;
      width: 100%;
    }
    .remove-coin:before {
      @include budicon;
      color: $color-dark-gray;
      content: '\ead7';
      display: block;
      font-size: 1.2em;
      height: 20px;
      position: absolute;
      right: 0;
      width: 20px;
      z-index: 200;
    }
    .balance {
      float: right;
      padding-right: 18px;
      padding-top: 25px;

      .currency-value {
        font-size: 12px;
        font-weight: normal;
        position: relative;
        text-align: right;
        top: -4px;
      }
      .coin-value {
        font-size: 1.35em;
        text-align: right;
      }
    }
    .coin {
      float: left;
      margin-right: 2px;

      .icon {
        height: 33px;
        width: 33px;
      }
      i {
        color: $account-coins-repeater-coin-color;
        display: inline-block;
        font-size: 2.5em;
        margin: 25px 10px 0 12px;
      }
      .name {
        color: $color-dark-gray;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        position: relative;
        top: -4px;
      }
    }
    .loader {
      display: block;
      height: 50px;
      position: absolute;
      right: 38px;
      top: -3px;
      transform: scale(0.8);
      width: 50px;
      z-index: 10;

      circle {
        stroke-width: 3px;
      }
    }
  }
  .item.disabled {
    cursor: default;
    opacity: 0.65;
  }
  .item.active {
    @include orange-gradient;
    box-shadow: 0 1px 6px 1px rgba(254, 69, 13, 0.5);
    color: $color-white;
    cursor: default;
    text-shadow: 0 1px 3px rgba-black(0.25);

    .remove-coin:before {
      color: $color-white;
    }
    .loader .path4 {
      stroke: $color-white;
    }
    .coin i,
    .coin .name {
      color: $color-white;
    }
  }
  .item.active:after {
    @include budicon;
    color: $color-form-arrow;
    content: '\eb14';
    font-size: 2.0em;
    font-weight: normal;
    text-shadow: none;
    position: absolute;
    right: -40px;
    top: 25px;
  }
}
.btn-add-coin {
  @include bold;
  background: $color-white;
  border-radius: $border-radius-smaller;
  box-shadow: 0 2px 2px 1px rgba-black(0.125);
  color: $color-orange;
  padding: 7px 0;
  width: 100%;
}
.btn-add-coin:hover {
  color: $color-orange;
}