/*!
 * Iguana dashboard/transactions-unit
 *
 */

@import '../dev.scss';

$txunit-item-receive-amount-color: #27C26F;
$txunit-item-progress-icon-color: #CBCFD3;
$txunit-item-progress-amount-color: #0082FF;
$txunit-item-progress-icon-before-color: #2092FE;

.transactions-unit {
  border-radius: $border-radius-smaller;
  box-shadow: 0 2px 3px 1px rgba-black(0.1);
  position: relative;

  .top-bar {
    @include bold;
    @include orange-gradient;
    border-radius: $border-radius-smaller $border-radius-smaller 0 0;
    box-shadow: 0 1px 6px 1px rgba(254, 69, 13, 0.5);
    color: $color-white;
    min-height: 150px;

    .loader {
      display: block;
      height: 95px;
      left: -10px;
      position: absolute;
      transform: scale(0.8);
      z-index: 10;

      circle {
        stroke-width: 3px;
      }
      .path4 {
        stroke: $color-white;
      }
    }
  }
  .action-buttons {
    float: left;
    padding-left: 16px;
    padding-top: 18px;

    .btn {
      @include bold;
      background: $color-white;
      border-radius: $border-radius-smaller;
      box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
      color: $color-orange;
      font-size: 1.1em;
      margin-bottom: 10px;
      padding: 6px 35px 4px 35px;
    }
    .btn:first-child {
      margin: 0 1em 0.7em 1em;
    }
    .btn:hover {
      color: $color-orange;
    }
  }
  .info {
    position: absolute;
    right: 25px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    top: 25px;
  }
}
.transactions-list {
  background: $color-white;
  border-radius: 0 0 $border-radius-smaller $border-radius-smaller;
  padding: 25px 2.5% 60px 2.5%;

  .title {
    color: $color-medium-gray;
    font-size: 1.3em;
    padding-bottom: 20px;
  }
}
.transactions-list-repeater {
  .loader {
    margin: 0;
  }
  .item {
    @include bold;
    @include cursor-pointer;
    background: #F6FAFF;
    border-radius: $border-radius-smaller;
    font-size: 1.2em;
    margin-bottom: 25px;
    padding: 20px 3% 23px 3%;
    transition: all $transition-length;

    div {
     @include cursor-pointer;
     display: inline-block;
    }
    .status {
      color: $color-dark-gray;
      font-size: 0.9em;
      font-weight: normal;
      text-transform: capitalize;
      width: 100px;
    }
    .amount {
      margin-right: 3%;
      text-align: right;
      width: 22%;
    }
    .hash {
      margin-left: 3%;
      width: 41%;
    }
    .in-out {
      font-size: 0.8em;
      margin-right: 2px;
      position: relative;
      top: 1px;
    }
    .coin-name {
      padding-left: 5px;
    }
    .timestamp {
      color: $color-dark-gray;
      float: right;
      font-size: 0.9em;
      font-weight: normal;
      padding-top: 8px;
      text-align: right;

      .timestamp-date {
        display: block;
        font-size: 0.9em;
      }
    }
    .timestamp.two-lines {
      margin-top: -2px;
      padding-top: 0;
    }
    .progress-status .icon:before {
      @include budicon;
      display: block;
      font-size: 1.2em;
      font-style: normal;
      font-weight: normal;
      height: 20px;
      position: relative;
      top: 2px;
    }
  }
  .item:last-child {
    margin-bottom: 0;
  }
  .item.timestamp-multi .timestamp,
  .item.timestamp-single .timestamp.two-lines {
    display: none;
  }
  .item.timestamp-multi .timestamp.two-lines {
    display: inherit;
    //margin-top: 10px;
  }
  .item.receive {
    .amount {
      color: $txunit-item-receive-amount-color;
    }
    .progress-status .icon:before {
      color: $txunit-item-progress-icon-color;
      content: '\eb47';
      font-size: 1.4em;
      left: 1px;
      top: 4px;
    }
  }
  .item.send .progress-status .icon:before {
    color: $txunit-item-progress-icon-color;
    content: '\eb4b';
    font-size: 1.4em;
    left: 1px;
    top: 4px;
  }
  .item.process {
    .amount {
      color: $txunit-item-progress-amount-color;
    }
    .progress-status {
      .icon:before {
        @include bold;
        content: '\ead6';
        color: $txunit-item-progress-icon-before-color;
      }
      .icon:after {
        background: $color-modal-bg;
        content: '';
        display: block;
        float: right;
        height: 11px;
        position: relative;
        right: 10px;
        top: -15px;
        width: 14px;
        z-index: 40;
      }
    }
  }
  .item:hover {
    box-shadow: 0 2px 3px 1px rgba-black(0.1);
    transition: all $transition-length;
  }
}