/*!
 * Iguana authentication responsive
 *
 */
@import '../dev.scss';

$screenWidth: 768px;

$widthResolution: "screen and (min-width: " $screenWidth ")";
$mobileResolution: "screen and (max-width: " $screenWidth ")";

body {

  /* for width resolution */
  @media #{$widthResolution} {
    .mobile-hidden {
      display: inherit;
    }
    .auth-main {
      .create-account-form,
      .verify-passphrase-form {
        .form-content {
          .form-content-inner {
            margin: 0 auto;
            max-width: 600px;

            .passphrase-word-count {
              b {
                @include bold
              }
            }
            .btn.row {
              font-size: 1.05em;
              height: 34px;
              @include left-right-auto;
              max-width: none;
              width: 100%;
            }
          }
        }
        .login-input-directions {
          font-size: 1.09em;
          line-height: 1.26em;
          padding-left: 12px;
          padding-right: 12px;
        }
        .generated-passhprase {
          font-size: 18px;
          padding: 0 35px;
        }
        .login-or-delim {
          padding: 12px 0;
        }
      }
      .bi_interface-arrow-left {
        margin-top: 15px;
      }
      .login-buttons-container {
        margin-top: 68px;
      }
    }
    .form-container.mdl .form-header,
    .modal-content,
    .modal-dialog.modal-popup,
    .modal-dialog .modal-body,
    .modal .modal-content.receiving-coin-content {
      border-radius: 0;
    }
    .form-container .form-content {
      padding: 3.45em 10px;
    }
  }
  /* for mobile resolution */
  @media #{$mobileResolution} {
    .mobile-hidden {
      display: none;
    }
    .form-container.mdl .form-header,
    .form-container.mdl .modal-content,
    .modal-dialog.modal-popup,
    .modal-dialog .modal-body,
    .modal .modal-content.receiving-coin-content {
      border-radius: 0;
    }
    .body-wrapper.auth-main {
      .form-container {
        .form-content {
          padding: 0 10px;
          vertical-align: top;

          .page-form-header {
            margin: 1.2em 1.6em;

            .page-title {
              font-size: 3em;
              line-height: 1em;
              max-width: 5em;
              text-align: left;
            }
          }
          .form-content-inner {
            .login-input-directions {
              margin: 2.7em 1.6em;
              max-width: 20em;
              text-align: left;
            }
            .advanced-benefits {
              font-size: 1.15em;
              font-weight: bold;
              line-height: 1em;
            }
            .login-buttons-container {
              margin-top: 40%;

              .btn.row {
                height: 50px;
                max-width: 90%;
              }
            }
          }
        }
      }
    }
    .coins-title {
      padding-top: 0;
    }
    .form-container.mdl .bi_interface-cross {
      margin-top: 3px;
    }
    .btn-signin-account {
      bottom: 0;
      position: absolute;
    }
    .form-content-inner {
      display: table;
      height: 100%;
      position: absolute;
    }
    .middle-sheet {
      display: table-cell;
      vertical-align: middle;
    }
  }
}