/*!
 * Iguana authentication responsive
 *
 */

/* for width resolution */
@media screen and (min-width: 768px) {
  .auth-main .login-form,
  .auth-main .create-account-form,
  .auth-main .verify-passphrase-form {
    max-width: 600px;
  }
  .auth-main .form-header {
    height: 58px;
    border-radius: 4px 4px 0 0;
  }
  .auth-main .btn.row {
    height: 34px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.05em;
  }
  .auth-main .offset-bottom-sm {
    margin-bottom: 30px;
  }
  .auth-main .form-content .login-passphrase-textarea.offset-bottom-sm.row.center {
    height: 158px;
    width: 398px;
    padding: 15px 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: 600;
    font-size: 1.24em;
  }
  .auth-main .form-content {
    padding: 3.1em 1.6em 2em 1.6em;
  }
  .auth-main .create-account-form .form-content {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .auth-main .create-account-form .login-input-directions {
    padding-left: 13px;
    padding-right: 13px;
  }
  .auth-main .create-account-form .generated-passhprase {
    padding: 0 35px;
    font-size: 18px;
  }
  .auth-main .bi_interface-arrow-left {
    margin-top: 15px;
  }
  .auth-main .verify-passphrase-form .login-or-delim {
    padding: 12px 0;
  }
  .auth-main .verify-passphrase-form .login-input-directions {
    width: 210px;
  }
  .form-container.mdl .form-header,
  .modal-content,
  .modal-dialog.modal-popup,
  .modal-dialog .modal-body,
  .modal .modal-content.receiving-coin-content {
    border-radius: 0;
  }
  .form-container .form-content {
    padding: 40px 10px;
  }
}

@media screen and (max-width: 768px) {
  .form-container.mdl .form-header,
  .form-container.mdl .modal-content,
  .modal-dialog.modal-popup,
  .modal-dialog .modal-body,
  .modal .modal-content.receiving-coin-content {
    border-radius: 0;
  }
  .add-new-coin-form .supported-coins-repeater-inner {
    padding: 30px 0;
  }
  .form-container .form-content {
    padding: 40px 10px;
  }
  .coins-title {
    padding-top: 0;
  }
  .form-container.mdl .bi_interface-cross {
    margin-top: 3px;
  }
}